html {
    position: relative;
    min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  background-color: #eee;
  text-align: center;
  margin: 0 0 120px; /* bottom = footer height */
 }

.container {
  width: 520px;
  margin-top: 20px;
  margin: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  text-color: blue;
}

.lyrics {
  font-size: 1.25em;
  border: 2px;
  border-color: blue;
}

footer {
  color: black;
  background-color: #7e7e7e;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;

}

a.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  width: 50%;
  border-radius: 4px;
}

.form {
  padding-bottom: 50px;
}

.submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  width: 50%;
  border-radius: 4px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a.github {
  font-size: 3em;
  color: inherit;
}

a.github:hover {
  color:#6e5494;
}
