$def with (content)

<html>

<head>
  <title>Russesang</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="/russesang/static/style.css">
  <link rel="stylesheet" href="/russesang/static/font-awesome-4.6.3/css/font-awesome.min.css">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-86034328-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>

<body>
  <div class="container">
    <h1>Russesang Generator</h1>
    $:content
    <h3>Hvordan bruker jeg den?</h3>
    <p>Alt du trenger å gjøre er å skrive inn ett ord i feltet over. Teksten vil
      starte med det valgte ordet og bruke dette til å generere resten av teksten. Du kan også la være å skrive inn ett ord og den vil velge ett tilfeldig ord.</p>
    <h3>Hvordan funker den?</h3>
    <p>Russesang Generatoren er basert på en 
      <a href="http://setosa.io/ev/markov-chains/">Markovkjede</a>. 
      Enkelt forklart, går den gjennom mange russesanger og ser på
      sansynligheten for at ett ord kommer etter ett annet. Den bruker så denne
      informasjonen til å generere en tekst. for mer info, sjekk ut <a
        href="https://github.com/torjeikenes/markov-lyrics">Github siden</a><p>
  </div>
  <footer>
    <p>Page by: Torje Nygaard Eikenes</p> 
    <a class="github" href="https://github.com/torjeikenes">
      <i class="fa fa-github" aria-hidden="true"></i></a>
  </footer>
</body>

</html>
