$def with (content)

<html>

<head>
  <title>Russesang</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="stylesheet" href="static/font-awesome-4.6.3/css/font-awesome.min.css">

</head>

<body>
  <div class="container">
    <h1>Russesang Generator</h1>
    $:content
    <h3>Hvordan funker den?</h3>
    <p>Russesang Generatoren er basert på en 
      <a href="http://setosa.io/ev/markov-chains/">Markovkjede</a>. 
      Enkelt forklart, går den gjennom mange russesanger og ser på
      sansynligheten for at ett ord kommer etter ett annet. Den bruker så denne
      informasjonen til å generere en tekst.<p>
  </div>
  <footer>
    <p>Page by: Torje Nygaard Eikenes</p> 
    <a class="github" href="https://github.com/torjeikenes"><i class="fa fa-github" aria-hidden="true"
      ></i></a>
  </footer>
</body>

</html>
